.content-wrapper {
    position: relative;
    &:before,
    &:after {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 10px;
    }
    &:before {
        box-shadow: -15px 0 15px -15px inset;
        left: -10px;
    }
    &:after {
        box-shadow: 15px 0 15px -15px inset;
        right: -10px;
    }
}

