.logo {
    &__img {
        max-width: 150px;
    }

    @media (min-width: 0) and (max-width: 767px) {
    }

    &:hover {
        opacity: 0.8;
    }
}

.header .logo {
    &__img {
        max-width: 100px;
    }

    @media (min-width: 0) and (max-width: 767px) {
        order: 2;
        flex-basis: auto;

        &__img {
            max-width: 150px;
        }
    }
}

.footer .logo {
    @media (min-width: 0) and (max-width: 767px) {
        display: none;
        &__img {
            max-width: 150px;
        }
    }
}

