.main-nav {
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;

    // ---Elements---
    &__dropdown-list {
        display: flex;
        flex-direction: row;
    }

    &__dropdown-link {
        color: rgb(55, 55, 55);
        text-align: center;
        display: none;
    }

    &__dropdown-item {
        padding: 0.8em;

        color: rgb(35, 35, 35);
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: rgb(255, 255, 255);
            background-color: rgb(60, 161, 166);
        }
    }
}

//--------------------------------------------
// Стили для header
.header .main-nav {
    margin-left: 5px;

    @media (min-width: 0) and (max-width: 767px) {
        padding: 0;
        margin: 0;
        flex-basis: 50px;
        order: 1;
    }

    &__dropdown-list {
        @media (min-width: 0) and (max-width: 767px) {
            visibility: hidden;
            z-index: 2;
            position: absolute;
            flex-direction: column;

            text-align: left;

            background: #b5e5eb;
            -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
            box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.75);
         }
        @media (min-width: 0) and (max-width: 479px) {
            width: 300px;
        }
        @media (min-width: 480px) and (max-width: 767px) {
            width: 440px;
        }
    }

    &__dropdown-link {
        @media (min-width: 0) and (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
    
            &:hover {
                color: rgb(60, 161, 166);
            }
        }
    }

    &__dropdown-item {
        @media (min-width: 0) and (max-width: 767px) {
            font-size: 20px;
            border-bottom: 1px solid #a7d0d4;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

//--------------------------------------------
// Стили для footer
.footer .main-nav {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-basis: 320px;

    &__dropdown-list {
        display: flex;
        flex-direction: column;

        @media (min-width: 0) and (max-width: 767px) {
            visibility: visible;
        }
    }
    
    &__dropdown-item {
        &:hover {
            color: rgb(60, 161, 166);
            background: none;
            text-decoration: none;
        }
    }


}
