.main-nav {
    padding-left: 10px;
    padding-right: 10px;

    &__dropdown-list {
        display: flex;
        flex-direction: row;
    }

    &__dropdown-link {
        display: none;
    }

    &__dropdown-item {
        padding: 0.8em;

        color: rgba(0, 0, 0, 1);
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: rgb(255, 255, 255);
            background-color: rgb(60, 161, 166);
        }
    }
}
