.personal {
    position: relative;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;

    &__dropdown-list {
        display: flex;
        flex-direction: row;
    }

    &__dropdown-link {
        color: rgb(55, 55, 55);
        display: none;
    }

    &__dropdown-item {
        display: inline-block;
        padding: 0.8em;

        color: rgb(46, 46, 46);
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: rgb(255, 255, 255);
            background-color: rgb(60, 161, 166);
        }
    }

    &__icon {
        //color: rgba(0, 0, 0, 0.5);
        margin-right: 5px;
    }

    &__dropdown-item--form {
        padding: 0;
    }

    &__dropdown-btn {
        padding: 0.8em;
        cursor: pointer;
        background: none;
        border: none;

        &:hover {
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }

    @media (min-width: 0) and (max-width: 767px) {
        padding: 0;
        margin: 0;
        flex-basis: 50px;
        order: 3;

        &__icon {
            margin: 0;
        }
        &__dropdown-list {
            z-index: 2;
            visibility: hidden;
            position: absolute;
            right: 0;
            flex-direction: column;
            width: 200px;

            text-align: right;

            background: #b5e5eb;
            -webkit-box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.75);
            box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.75);
        }

        &__dropdown-item {
            font-size: 20px;
        }

        &__dropdown-link {
            display: inline-block;
            padding: 5px 0;

            &:hover {
                color: rgb(60, 161, 166);
            }
        }
    }
}
