.articles {
    z-index: 0;

    &__intro, &__outro {
        position: relative;
        padding: 80px 10px;
        font-size: 50px;
        text-align: center;
        background: rgb(238, 246, 255);

    }
    &__outro {
        font-size: 20px;
    }
    &__outro-link {
        color: rgba(166, 109, 60, 1);
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: rgba(166, 109, 60, 0.50);
        }
    }

    &__wrapper {
        padding-bottom: 50px;
        z-index: 0;

        position: relative;
        display: flex;
        flex-wrap: wrap;
        background: #ffffff;
    }



    @media (min-width: 0) and (max-width: 639px) {
        &__intro,
        &__outro {
            padding: 40px 10px;
        }
    }

    @media (min-width: 1024px) {
        &__wrapper {
            padding-bottom: 130px;
        }
    }
}

