.page-content {
    position: relative;

    padding: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    background-color: rgb(255, 255, 255);

    &__content {
        flex-basis: 100%;
        padding: 0;
    }

    &__sidebar {
        display: none;
    }

    @media (min-width: 0) and (max-width: 479px) {
        &__content {
            width: 300px;
        }
    }

    @media (min-width: 1024px) {
        &__content {
            flex-basis: 640px;
        }

        &__sidebar {
            display: flex;
            flex-basis: 320px;
        }
    }

    &:before,
    &:after {
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        width: 10px;
    }
    &:before {
        box-shadow: -15px 0 15px -15px inset;
        left: -10px;
    }
    &:after {
        box-shadow: 15px 0 15px -15px inset;
        right: -10px;
    }
}
